<html>
	<head>
		<meta name = "viewport" content = "initial-scale = 1.0, user-scalable = no, width = 320"/>
	</head>
	<body style="background:#000;margin-top:0px;margin-left:0px">
		<div><object width="320" height="240">
		<param name="movie" value="%URL%"></param>
		<param name="wmode" value="transparent"></param>
		<embed src="%URL%"
			type="application/x-shockwave-flash" wmode="transparent" width="320" height="240"></embed>
		</object></div>
		<h3 style="color:#FFF;text-align:center">%CAPTION%</h3>
	</body>
</html>